:root {
    --primary-color: #28A745;
    --secondary-color: #81C784;
    --background-color: #F4F4F4;
    --text-color: #333333;
    --border-color: #D9D9D9;
    --cta-color: #FFC107;
    --error-color: #E57373;
    --success-color: #66BB6A;
    --link-color: #1976D2;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
    background-color: #f2fff8;
}


/* Hero Section */
#hero {
    width: 100%;
    height: 100vh;
    background-image: url("/src/vitalii-pavlyshynets.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-align: left;
    color: white;
    padding-top: 72px;
    padding-left: 10%;
    position: relative;
    box-sizing: border-box;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    z-index: 1;
}

.hero-text {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    position: relative;
    z-index: 2;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.cta-button.secondary {
    background-color: var(--cta-color);
    margin-left: 10px;
}

.cta-button:hover {
    background-color: var(--secondary-color);
}

.main-container {
    background-color: #f2fff8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 10%;
}

/* Cards Section */
.cards-container {
    background-color: #f2fff8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 10%;
}

.card {
    background: #D6FFE9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.card p {
    color: var(--text-color);
}

.topics-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 10%;
    text-align: center;
}

.topic-card {
    position: relative;
    color: white;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.topic-card::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.topic-card h3, .topic-card p, .topic-card a {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
}

.topic-card .see-more {
    display: none;
    text-decoration: none;
    background: #fff;
    color: #333;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.topic-card:hover::before {
    background: rgba(0, 0, 0, 0.7);
}

.topic-card:hover .see-more {
    display: block;
}
 
