body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f2fff8;
}

.main-container {
    background-color: #f2fff8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 10%;
}

table {
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
a {
    color: #1a73e8;
    text-decoration: none;
}
td:hover a {
    text-decoration: underline;
}

.table-container{
    background-color: #f2fff8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 10%;
}

td img {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
td img:hover {
    transform: scale(1.1);
}

.section-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgb(181, 235, 211);
    color: #333;
    padding: 16px 8px;
    border: 1px solid #ccc;
}

.logo-table {
    width: 40px;     /* Match Font Awesome icon size */
    height: 40px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}
